h1{
	color: #68838B;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 650px
	text-shadow: 1px 1px 1px black;
	font-family: font-family: 'Acme', sans-serif;
}
p{
	width: 650px;
	font-size: 19px;
	font-family: font-family: 'Acme', sans-serif;



}