@charset "utf-8"


Menu{
    display: block;
    min-width: 360px;
    background-image: url(Impressao/Infografico\ Prato\ de\ Mae.png);
    
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    max-width: 600px;
    position: relative;
    
}
footer{
    background: #1d0210d7;
	color: #ebebeb;
    margin: 10px 0px;
    padding: 5px 0px;
	text-align: center;
	font-weight: 100;
    border-radius: 8px;
    min-width: 350px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}